ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px dotted red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  height: 200px;
}

li {
  border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em;
}

.flex1 {
  order: 2;
  border: 3px dotted red;
  flex: 1 3 5em;
}

.flex2 {
  order: 3;
  border: 3px dotted rgb(150, 27, 199);
  flex: 2 1 5em;
}

.flex3 {
  order: 4;
  border: 3px dotted seagreen;
  flex: 2 2 5em;
}
